.git
.git/*
.venv
.venv/*

__pycache__
__pycache__/*

output/*
output/audio/*
output/conversations/*
output/image/*
output/other/*
!output/.keep
!output/audio
!output/audio/.keep
!output/conversations
!output/conversations/.keep
!output/image
!output/image/.keep
!output/other
!output/other/.keep
